{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block styles %}
    {{ macros.static_css_tag('vendor/System-Pagination/dist/pagination.css') }}
{% endblock %}

{% block content %}
    {% include 'toast.html' %}
    <div class="row">
        <div class="col-sm-2 mb-4">
            <label class="mr-sm-2" for="page-size">Results per page:</label>
            <select class="custom-select mr-sm-2" id="page-size">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <div class="row data-container" id="users_container"></div>
    <div class="d-flex justify-content-center" id="pagination-users"></div>

{% endblock %}

{% block extra_scripts %}
    {{ macros.static_js_tag('vendor/System-Pagination/src/pagination.js') }}
    <script type="module" src="{{ url_for('static', filename="js/users_requests/list.js") }}"></script>
{% endblock %}
