{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Github Users</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    {{ macros.static_css_tag('css/main.css') }}
    {% block styles %}{% endblock %}
</head>

<body>
{% block modals %}{% endblock %}
<div class="wrapper">

    {% include 'sidebar.html' %}
    <!-- Page Content Holder -->
    <div id="content">
        {% include 'navbar.html' %}

        <div id="content" class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
{{ macros.static_js_tag('vendor/jquery/jquery.min.js') }}
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>
{% block extra_scripts %}
{% endblock %}
</body>

</html>